{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}
{% block meta_description %}
{% endblock %}
{% block current_stylesheet %}
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}
{% block container %}
    <div class="content">

        {# Template flash message #}
        {% block flash_message %}
            {% include 'app/common/_flash.html.twig' %}
        {% endblock %}

        {# Block pour le contenu d'une vue #}
        {% block content %}
        {% endblock %}

    </div>
{% endblock %}

{% block current_script %}
    <script src="{{ asset('js/app.min.js') }}"></script>
{% endblock %}
